.hero-body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tilin-uno {
  background-image: url("../assets/img/of3.jpg");
}

.tilin-dos {
  background-image: url("/src/assets/img/excel2.webp");
}

.tilin-tres {
  background-image: url("../assets/img/word9.jpg");
}

.tilin-cuatro {
  background-image: url("../assets/img/pwpoint1.png");
}

.cardQuizes:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 50px -13px rgba(255, 255, 255, 0.2);

}

/* Contenedor del iframe */
.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

/* El iframe se adapta al contenedor */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
